.body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.genadmin-container {
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  background: linear-gradient(to right, #a8c1ea, #556a94);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  position: absolute;
  top: 35%;
}

.form-inline-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-inline-group .form-group {
  flex: 1;
  margin-right: 10px;
}

.form-inline-group .form-group:first-child {
  flex: 0.7; /* ขยายขนาดคำนำหน้า */
}

.form-inline-group .form-group:last-child {
  margin-right: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #1b2a49;
  font-size: 16px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-control.small-input {
  width: 75%; /* ลดขนาดฟิลด์ชื่อผู้ใช้และรหัสผ่าน */
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  outline: none;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #1b2a49;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background-color: #007bff;
  box-shadow: 0 8px 20px rgba(0, 123, 255, 0.2);
}

.btn-primary:active {
  transform: scale(0.98);
}

.text-danger {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}

.alert-success {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
